<div class="container-fluid" style="width:100%;">
	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
   			 <div class="navbar-header">
      			<a class="navbar-brand" href="main.html" style="font-family:Bookman,serif;font-size:3em">TradeIn</a>
    		</div>
    		<ul class="nav navbar-nav">
      			<li class="active" style="font-size: 1.2em"><a href="main.html"><p class="glyphicon glyphicon-home"> Home</p></a></li>
    		</ul>
    		<ul class="nav navbar-nav navbar-right">
      			<li style="font-size: 1.1em"><a href="#my_acc" data-toggle="modal" data-target="#my_acc"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      			<li style="font-size: 1.1em"><a href="#my_acc" data-toggle="modal" data-target="#my_acc"><span class="glyphicon glyphicon-modal-window"></span> Post Ad</a></li>
      			<!-- <li style="font-size: 1.1em"><a href="#Log-in-Modal" data-toggle="modal" data-target="#Log-in-Modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
    		</ul>
 		</div>
    </nav>
    </div>
    <login></login>
